.slick-slider {
  margin-bottom: 1px;

  .slide {
    height: 100px;
    min-width: 100px;
    max-width: 300px;
    background-color: #eee;

    img {
      max-height: 100px
    }
  }
}

.slick-slider.head {
  .slide {
    height: 100px;

    img {
      max-height: 100px;
    }
  }
}

.slick-slider.shirt {
  .slide {
    height: 200px;

    img {
      max-height: 200px;
    }
  }
}

.slick-slider.pants {
  .slide {
    height: 250px;

    img {
      max-height: 250px;
    }
  }
}

.slick-slider.shoes {
  .slide {
    height: 70px;

    img {
      max-height: 70px;
    }
  }
}

.slick-slider.project {
  .slide {
    height: 400px;
  }

  img {
    max-height: 200px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .slick-prev {
    left: 5px;
  }

  .slick-next {
    right: 5px;
  }

  .slick-prev:before, .slick-next:before {
    color: black;
  }
}
