.slick-slider {
  margin-bottom: 1px;

  .slide {
    height: 100px;
    min-width: 200px;
    background-color: #eee;
  }
}

.slick-slider.head {
  .slide {
    height: 100px;
  }
}

.slick-slider.shirt {
  .slide {
    height: 200px;
  }
}

.slick-slider.pants {
  .slide {
    height: 200px;
  }
}

.slick-slider.shoes {
  .slide {
    height: 100px;
  }
}

.slick-slider.project {
  .slide {
    height: 400px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .slick-prev {
    left: 5px;
  }

  .slick-next {
    right: 5px;
  }

  .slick-prev:before, .slick-next:before {
    color: black;
  }
}
