.main {
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}
.carousel {
  height: 160px;
  &#heads {
    height:128px;
  }
  &#bottoms {
    height:200px;
  }
  &#shoes {
    height: 80px;
  }
  &#projects {
    height: 450px;
  }
  &#networks {
    height: 80px;
  }
}

.carousel--slide {
  opacity: 0.3;
  min-width: 50px;

  &.is-selected{
    opacity: 1.0;
  }
  img {
    height: 160px;
  }
  &.head {
    img {
      height: 128px;
    }
  }
  &.bottom {
    img {
      height: 200px;
    }
  }
  &.shoe {
    img {
      height: 80px;
    }
  }

  &.project {
    height: 425px;
    width: 300px;
    background: rgb(224,224,224);
    color: rgb(66,66,66);
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      width: auto;
      height: 300px;
    }
    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &.network {
    height: 50px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgb(224,224,224);
    color: rgb(66,66,66);
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    a {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      i {
        margin-right: 5px;
      }
    }
  }
}

#randomButton {
  background-color: rgb(255,64,129);
  border-radius: 50%;
  bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  color: rgb(255,255,255);
  height: 56px;
  line-height: 56px;
  min-width: 0;
  position: fixed;
  right: 15px;
  transition-property: background-color,box-shadow;
  transition: .2s linear;
  width: 56px;
  z-index: 20;
  background-clip: padding-box;
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  outline: 0;

  @media screen and (min-width: 768px) {
    bottom: initial;
    right: 30px;
    top: 10px;
  }

  &:disabled, &[disabled] {
    background: #ddd;
    opacity: 0.3;
  }
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
