<md-content>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedHead"
         class="head"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head2.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head3.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Spiky Hair
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Spiky Hair
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Spiky Hair
      </div>
    </div>
  </slick>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedShirt"
         class="shirt"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="https://www.zazzle.com/rlv/scala_shirt_black_logo_tshirt-r48019d04a9d64be8852d7c435af2d620_804gs_324.jpg" />
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="https://www.zazzle.com/rlv/isapi/designall.dll?rlvnet=1&realview=113325817518910754&design=1d2e5d3f-da0a-4063-be51-832be3eee62a&style=basic_dark_tshirt&size=a_xl&color=black&max_dim=512&rvtype=product"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Angular Shirt
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Github Shirt
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Scala Shirt
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Scala Shirt
      </div>
    </div>
  </slick>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedPants"
         class="pants"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Shorts
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Jorts
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Sheans
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Board Shorts
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Wolverine Pants
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Tuxedo Pants
      </div>
    </div>
  </slick>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedShoes"
         class="shoes"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Boat Shoes
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Slippers
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Sneakers
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Running Shoes
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Tennis Shoes
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Dress Shoes
      </div>
    </div>
  </slick>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedProject"
         class="project"
    >
    <div class="slide" layout="row">
      <a layout="column" layout-align="center center" href="http://2beerqueers.com" target="_blank">
        <img src="images/2bqlogo.png"/>
        <p>My husband and I blog about beer we're brewing, tasting, and traveling around the world to get at!</p>
      </a>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Boat Shoes
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Slippers
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Sneakers
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Running Shoes
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Tennis Shoes
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Dress Shoes
      </div>
    </div>
  </slick>
</md-content>
