<md-content>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedHead"
         class="head"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head2.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head3.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head4.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head5.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head6.jpg"/>
      </div>
    </div>
  </slick>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedShirt"
         class="shirt"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt7.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt8.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt3.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt4.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt5.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt6.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt9.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt2.jpg"/>
      </div>
    </div>
  </slick>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedPants"
         class="pants"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="http://www.surfstationstore.com/shop/images/product/r/rvca-eastern-mens-boardshorts-280px-392px.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants3.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants2.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants4.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants6.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants5.jpg"/>
      </div>
    </div>
  </slick>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedShoes"
         class="shoes"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes2.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes3.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes4.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes5.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes6.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes7.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes8.jpg"/>
      </div>
    </div>
  </slick>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedProject"
         class="project"
    >
    <div class="slide" layout="row">
      <a layout="column" layout-align="center center" href="http://2beerqueers.com" target="_blank">
        <img src="images/2bqlogo.png"/>
        <p>My husband and I blog about beer we're brewing, tasting, and traveling around the world to get at!</p>
      </a>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Boat Shoes
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Slippers
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Sneakers
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Running Shoes
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Tennis Shoes
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        Dress Shoes
      </div>
    </div>
  </slick>
</md-content>
