<md-content>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedHead"
         class="head"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head2.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head3.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head4.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head5.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/head6.jpg"/>
      </div>
    </div>
  </slick>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedShirt"
         class="shirt"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt7.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt8.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt3.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt4.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt5.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt6.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt10.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt9.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shirt2.jpg"/>
      </div>
    </div>
  </slick>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedPants"
         class="pants"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="http://www.surfstationstore.com/shop/images/product/r/rvca-eastern-mens-boardshorts-280px-392px.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants3.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants2.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants4.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants6.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants7.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/pants5.jpg"/>
      </div>
    </div>
  </slick>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedShoes"
         class="shoes"
    >
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes2.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes1.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes3.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes4.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes5.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes6.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes7.jpg"/>
      </div>
    </div>
    <div class="slide" layout="row">
      <div layout="column" layout-align="center center" >
        <img src="images/shoes8.jpg"/>
      </div>
    </div>
  </slick>
  <div layout="column" layout-align="center center">
    <h2>projects i've worked on</h2>
  </div>
  <slick infinite=true
         speed=200
         slides-to-show=3
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedProject"
         class="project"
    >
    <div class="slide" layout="row" >
      <a layout="column" layout-align="center center" href="http://beerxchange.com" target="_blank">
        <img src="images/bxlogo.gif"/>
        <p>Check out our network for collecting and trading craft beer.</p>
      </a>
    </div>
    <div class="slide" layout="row">
      <a layout="column" layout-align="center center" href="http://2beerqueers.com" target="_blank">
        <img src="images/2bqlogo.png"/>
        <p>My husband and I blog about beer we're brewing, tasting, and traveling around the world to get at!</p>
      </a>
    </div>
    <div class="slide" layout="row">
      <a layout="column" layout-align="center center" href="https://infomofo.github.io/ffd-jobcalc/" target="_blank">
        <h4>Knights of Pen and Paper Party Planner</h4>
        <p>A tool for planning a party in mobile game Knights of Pen and Paper in angular.js!</p>
      </a>
    </div>
    <div class="slide" layout="row">
      <a layout="column" layout-align="center center" href="https://infomofo.github.io/kopp-planner/" target="_blank">
        <h4>Final Fantasy Dimensions Job Calculator</h4>
        <p>A tool for planning Final Fantasy Dimensions character job points in angular.js!</p>
      </a>
    </div>
  </slick>
  <div layout="column" layout-align="center center">
    <h2>i'm on</h2>
  </div>
  <slick infinite=true
         speed=200
         slides-to-show=5
         slides-to-scroll=1
         variable-width="true"
         layout="row"
         center-mode="true"
         center-padding="60px"
         layout-fill
         current-index="selectedNetwork"
         class="networks"
    >
    <div class="slide" layout="row">
      <a layout="row" layout-align="center center" href="http://github.com/infomofo" target="_blank">
        <i class="fa fa-github"></i>
        &nbsp;github
      </a>
    </div>
    <div class="slide" layout="row">
      <a layout="row" layout-align="center center" href="https://untappd.com/user/infomofo" target="_blank">
        <i class="fa fa-beer"></i>
        &nbsp;untappd
      </a>
    </div>
    <div class="slide" layout="row">
      <a layout="row" layout-align="center center" href="http://www.linkedin.com/in/willchiong" target="_blank">
        <i class="fa fa-linkedin-square"></i>
        &nbsp;linkedin
      </a>
    </div>
    <div class="slide" layout="row">
      <a layout="row" layout-align="center center" href="https://secure.flickr.com/photos/infomofo/" target="_blank">
        <i class="fa fa-flickr"></i>
        &nbsp;flickr
      </a>
    </div>
    <div class="slide" layout="row">
      <a layout="row" layout-align="center center" href="http://www.instagram.com/infomofo" target="_blank">
        <i class="fa fa-instagram"></i>
        &nbsp;insta
      </a>
    </div>
    <div class="slide" layout="row">
      <a layout="row" layout-align="center center" href="https://www.youtube.com/user/infomofo" target="_blank">
        <i class="fa fa-youtube"></i>
        &nbsp;youtube
      </a>
    </div>
    <div class="slide" layout="row">
      <a layout="row" layout-align="center center" href="https://twitter.com/infomofo" target="_blank">
        <i class="fa fa-twitter"></i>
        &nbsp;twitter
      </a>
    </div>
    <div class="slide" layout="row">
      <a layout="row" layout-align="center center" href="http://pinterest.com/infomofo/" target="_blank">
        <i class="fa fa-pinterest"></i>
        &nbsp;pinterest
      </a>
    </div>
    <div class="slide" layout="row">
      <a layout="row" layout-align="center center" href="http://infomofo.tumblr.com/" target="_blank">
        <i class="fa fa-tumblr"></i>
        &nbsp;tumblr
      </a>
    </div>
  </slick>
</md-content>
<md-button class="md-fab" aria-label="FAB" ng-click="shuffle()" ng-disabled="dataModel.shuffleIcon !== 'shuffle'">
  <ng-md-icon icon="{{dataModel.shuffleIcon}}"></ng-md-icon>
</md-button>
